body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  border-radius: 10px 10px 0px 0px;
}

.main{
  width: 317px;
  height: 399px;
  background-color: #1A1B21;
  box-sizing: border-box;
  margin-top: -4px;
  padding: 1.5rem;
}

.footer{
  width: 317px;
  height: 64px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
}

.overview{
  line-height: 1.3rem;  
  text-align: center;
  display: flex;
  flex-direction: column;

}
.overview > .name{
  font-size: 1.3rem;
  font-weight: 700;
  color: white;

}
.overview > .post{
  font-size: 0.8rem;
  color: #F3BF99;
}
.overview > .website{
  font-size: 0.5rem;
  color: #F5F5F5;
}

.overview > .buttons{
  margin-top: 0.6rem;
}

.overview > .buttons > .btn{
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.4em 1em;
}
#email{
  margin-right: 2rem;
  
}

#linkedin{
  background-color: #5093E2;
}

button > i{
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #1E1F26;
}

button > #link{
  color: white;
}

.about{
  margin-top: 1.5rem;
  width: 247px;
  height: 201px;
  box-sizing: border-box;
  text-align: justify;
}

.about > h3,p{
  margin: 0;
}

.about > h3{
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: white;
}
.about > p{
  font-size: 0.8rem;
  color: rgba(245, 245, 245, 0.892);
}

.footer{
  box-sizing: border-box;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

}
i{
  font-size: 2rem;
  color: #918E9B;
}