body{
    margin: 0px;
    padding: 0px;

}
.container{
    /* background-color: red; */
    border: 2px solid red;
    height: 20px;
    width: 400px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    left: 50%;

}
.box{
    border: 0px solid black;
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
    border-radius: 50px;

    background-color: green;
    height: 21px;
    width: 51px; 
    position: relative;
    left: 350px;
    box-sizing: border-box;
    
}
/* .contain{
    margin: 300px auto;
    border: 2px solid rgb(21, 255, 0);
    width: 300px;
    height: 100px;
    background-color: aqua;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
}

div{
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#f{
    

}
#s{

}
#t{

}
#o{

} */